* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  background: linear-gradient(135deg, #1b8af1, #b58ded);
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}

.form-content {
  border: 1px solid black;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.component-container {
  padding: 30px;
  width: 30%;
}

.outer-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 2%;
  background-image: url("./Assets/blue-background.jpg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
}

.plus-icon {
  font-weight: 800;
  font-size: 20px;
  cursor: pointer;
}

.form-field {
  border: 1px solid black;
  padding: 10px;
  display: flex;
}

.form-field-container {
  margin-bottom: 20px;
}

.inner-container {
  display: flex;
  align-items: center;
  padding: 10px 0px;
  justify-content: space-between;
  width: 100%;
}

.visual-form {
  border-radius: 2%;
  width: 70%;
  background-image: url("./Assets/blue-background.jpg");
  width: 100%;
  padding: 30px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 18px;
  font-weight: 500;
}

.form-field-style {
  padding: 13px;
  border: none;
  outline: none;
  width: 100%;
  border-radius: 2%;
  background-color: #5c414136;
  font-size: 15px;
  font-weight: 500;
}

.inside-container {
  display: flex;
}

.header {
  padding: 10px;
  display: flex;
  font-size: 32px;
  font-weight: 600;
  color: white;
  align-items: center;
  justify-content: center;
}

#saveBtn {
  padding: 12px 25px;
  border: none;
  border-radius: 13%;
  font-size: 18px;
  background-color: #f0f3e4;
  font-weight: 500;
}

.option-container {
  display: flex;
  justify-content: space-between;
}

.outer-form-container {
  gap: 20px;
  justify-content: center;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.btn-class {
  display: flex;
  justify-content: end;
}

.dropdown-options {
  display: none;
}

.dropdown-options-show {
  display: block;
}

.dropdown-option {
  padding: 5px 10px;
  cursor: pointer;
}

.dropdown-option:hover {
  background-color: #f0f0f0;
}

.delete-icon {
  cursor: pointer;
}

.drop-content {
  display: flex;
  justify-content: space-between;
  padding: 3px;
}

.drop-content-label {
  display: flex;
  justify-content: space-between;
  padding: 3px;
}

.drop-content-label:hover {
  background-color: blue;
  color: white;
}

/* Mobile View */

@media only screen and (max-width: 630px) {
  .inside-container {
    display: flex;
    flex-direction: column;
  }
  .component-container {
    width: 100%;
    min-height: unset;
  }
}
